body {
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
    color: #B6FF00;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

h1 {
    color: #B6FF00;
    font-size: 36px;
    margin-top: 20px;
}

.tasks {
    margin-top: 40px;
}

.task-btn {
    background-color: #282828;
    color: #B6FF00;
    padding: 15px 30px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.task-btn:hover {
    background-color: #8AC400;
}
